Dsl/GeneratedCode/EFDesignerSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema id="EFDesignerSchema" targetNamespace="http://schemas.microsoft.com/dsltools/EFDesigner" elementFormDefault="qualified" xmlns="http://schemas.microsoft.com/dsltools/EFDesigner" xmlns:core="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import id="CoreSchema" namespace="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" />
  <!-- Model -->
  <xsd:element name="model" type="Model" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Model">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: ModelHasEntityTypes -->
          <xsd:choice minOccurs="0" maxOccurs="unbounded" >
            <xsd:element ref="modelHasEntityTypes">
              <xsd:annotation>
                <xsd:documentation>[Relationship deriving from ModelHasEntityTypes needs to be serialized in full-form]</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element ref="entityType" >
              <xsd:annotation>
                <xsd:documentation>[Target role-player]</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:choice>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- dslVersion -->
        <xsd:attribute name="dslVersion" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Version of the model serialized in this file.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Model Moniker -->
  <xsd:element name="modelMoniker" type="ModelMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ModelMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Model instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EntityType -->
  <xsd:element name="entityType" type="EntityType" substitutionGroup="core:modelElement" />
  <xsd:complexType name="EntityType">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: EntityTypeHasProperties -->
          <xsd:choice minOccurs="1" maxOccurs="unbounded" >
            <xsd:element ref="entityTypeHasProperties">
              <xsd:annotation>
                <xsd:documentation>[Relationship deriving from EntityTypeHasProperties needs to be serialized in full-form]</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element ref="property" >
              <xsd:annotation>
                <xsd:documentation>[Target role-player]</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:choice>
          <!-- Relationship: EntityTypeHasForeignKeys -->
          <xsd:choice minOccurs="0" maxOccurs="unbounded" >
            <xsd:element ref="entityTypeHasForeignKeys">
              <xsd:annotation>
                <xsd:documentation>[Relationship deriving from EntityTypeHasForeignKeys needs to be serialized in full-form]</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element ref="foreignKey" >
              <xsd:annotation>
                <xsd:documentation>[Target role-player]</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:choice>
          <!-- Relationship: EntityTypeHasKeyes -->
          <xsd:choice minOccurs="1" maxOccurs="unbounded" >
            <xsd:element ref="entityTypeHasKeyes">
              <xsd:annotation>
                <xsd:documentation>[Relationship deriving from EntityTypeHasKeyes needs to be serialized in full-form]</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element ref="key" >
              <xsd:annotation>
                <xsd:documentation>[Target role-player]</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:choice>
          <!-- Relationship: EntityTypeHasPrimaryKey -->
          <xsd:element name="primaryKey" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instance of EntityTypeHasPrimaryKey</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="entityTypeHasPrimaryKey" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of EntityTypeHasPrimaryKey needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" />
        <!-- Property: HasClrType -->
        <xsd:attribute name="hasClrType" type="xsd:boolean" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EntityType Moniker -->
  <xsd:element name="entityTypeMoniker" type="EntityTypeMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="EntityTypeMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for EntityType instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Property -->
  <xsd:element name="property" type="Property" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Property">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: IsNullable -->
        <xsd:attribute name="isNullable" type="xsd:boolean" />
        <!-- Property: PropertyType -->
        <xsd:attribute name="propertyType" type="xsd:string" />
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Property Moniker -->
  <xsd:element name="propertyMoniker" type="PropertyMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="PropertyMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Property instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ForeignKey -->
  <xsd:element name="foreignKey" type="ForeignKey" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ForeignKey">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: ForeignKeyReferencesKey -->
          <xsd:choice minOccurs="1" maxOccurs="1" >
            <xsd:element ref="foreignKeyReferencesKey">
              <xsd:annotation>
                <xsd:documentation>[Relationship deriving from ForeignKeyReferencesKey needs to be serialized in full-form]</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element ref="keyMoniker" >
              <xsd:annotation>
                <xsd:documentation>[Target role-player]</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:choice>
          <!-- Relationship: ForeignKeyHasProperties -->
          <xsd:choice minOccurs="0" maxOccurs="unbounded" >
            <xsd:element ref="foreignKeyHasProperties">
              <xsd:annotation>
                <xsd:documentation>[Relationship deriving from ForeignKeyHasProperties needs to be serialized in full-form]</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element ref="propertyMoniker" >
              <xsd:annotation>
                <xsd:documentation>[Target role-player]</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:choice>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ForeignKey Moniker -->
  <xsd:element name="foreignKeyMoniker" type="ForeignKeyMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ForeignKeyMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ForeignKey instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Key -->
  <xsd:element name="key" type="Key" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Key">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: KeyHasProperties -->
          <xsd:choice minOccurs="1" maxOccurs="unbounded" >
            <xsd:element ref="keyHasProperties">
              <xsd:annotation>
                <xsd:documentation>[Relationship deriving from KeyHasProperties needs to be serialized in full-form]</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element ref="propertyMoniker" >
              <xsd:annotation>
                <xsd:documentation>[Target role-player]</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:choice>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Key Moniker -->
  <xsd:element name="keyMoniker" type="KeyMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="KeyMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Key instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModelHasEntityTypes -->
  <xsd:element name="modelHasEntityTypes" abstract="true" type="ModelHasEntityTypes" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ModelHasEntityTypes" abstract="true" >
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end EntityType -->
          <xsd:element ref="entityType" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModelHasEntityTypes Moniker -->
  <xsd:element name="modelHasEntityTypesMoniker" type="ModelHasEntityTypesMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ModelHasEntityTypesMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ModelHasEntityTypes instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EntityTypeHasProperties -->
  <xsd:element name="entityTypeHasProperties" abstract="true" type="EntityTypeHasProperties" substitutionGroup="core:modelElement" />
  <xsd:complexType name="EntityTypeHasProperties" abstract="true" >
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Property -->
          <xsd:element ref="property" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EntityTypeHasProperties Moniker -->
  <xsd:element name="entityTypeHasPropertiesMoniker" type="EntityTypeHasPropertiesMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="EntityTypeHasPropertiesMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for EntityTypeHasProperties instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EntityTypeHasForeignKeys -->
  <xsd:element name="entityTypeHasForeignKeys" abstract="true" type="EntityTypeHasForeignKeys" substitutionGroup="core:modelElement" />
  <xsd:complexType name="EntityTypeHasForeignKeys" abstract="true" >
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end ForeignKey -->
          <xsd:element ref="foreignKey" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EntityTypeHasForeignKeys Moniker -->
  <xsd:element name="entityTypeHasForeignKeysMoniker" type="EntityTypeHasForeignKeysMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="EntityTypeHasForeignKeysMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for EntityTypeHasForeignKeys instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EntityTypeHasKeyes -->
  <xsd:element name="entityTypeHasKeyes" abstract="true" type="EntityTypeHasKeyes" substitutionGroup="core:modelElement" />
  <xsd:complexType name="EntityTypeHasKeyes" abstract="true" >
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Key -->
          <xsd:element ref="key" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EntityTypeHasKeyes Moniker -->
  <xsd:element name="entityTypeHasKeyesMoniker" type="EntityTypeHasKeyesMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="EntityTypeHasKeyesMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for EntityTypeHasKeyes instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ForeignKeyReferencesKey -->
  <xsd:element name="foreignKeyReferencesKey" abstract="true" type="ForeignKeyReferencesKey" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ForeignKeyReferencesKey" abstract="true" >
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Key -->
          <xsd:element ref="keyMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ForeignKeyReferencesKey Moniker -->
  <xsd:element name="foreignKeyReferencesKeyMoniker" type="ForeignKeyReferencesKeyMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ForeignKeyReferencesKeyMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ForeignKeyReferencesKey instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ForeignKeyHasProperties -->
  <xsd:element name="foreignKeyHasProperties" abstract="true" type="ForeignKeyHasProperties" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ForeignKeyHasProperties" abstract="true" >
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Property -->
          <xsd:element ref="propertyMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ForeignKeyHasProperties Moniker -->
  <xsd:element name="foreignKeyHasPropertiesMoniker" type="ForeignKeyHasPropertiesMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ForeignKeyHasPropertiesMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ForeignKeyHasProperties instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- KeyHasProperties -->
  <xsd:element name="keyHasProperties" abstract="true" type="KeyHasProperties" substitutionGroup="core:modelElement" />
  <xsd:complexType name="KeyHasProperties" abstract="true" >
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Property -->
          <xsd:element ref="propertyMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- KeyHasProperties Moniker -->
  <xsd:element name="keyHasPropertiesMoniker" type="KeyHasPropertiesMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="KeyHasPropertiesMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for KeyHasProperties instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EntityTypeHasPrimaryKey -->
  <xsd:element name="entityTypeHasPrimaryKey" type="EntityTypeHasPrimaryKey" substitutionGroup="core:modelElement" />
  <xsd:complexType name="EntityTypeHasPrimaryKey">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Key -->
          <xsd:element ref="keyMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EntityTypeHasPrimaryKey Moniker -->
  <xsd:element name="entityTypeHasPrimaryKeyMoniker" type="EntityTypeHasPrimaryKeyMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="EntityTypeHasPrimaryKeyMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for EntityTypeHasPrimaryKey instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
</xsd:schema>

